{{#section 'head'}}
    <link rel="stylesheet" href="/static/perfil.css">
    <title>Perfil</title>
{{/section}}

<main>
    <div class="conteudo">
        <div class="perfil">
            <div class="foto">
                {{#with usuario}}
                    {{#if (isNull foto)}}
                    <img src="/static/catfinal.png" alt="foto de perfil">
                    {{else}}
                    <img src="/updates/{{foto}}" alt="foto de perfil">
                    {{/if}}
                    
                {{/with}}
            </div>
            <div class="info">
                <div class="nome"><h4>
                    {{#with usuario}}
                        {{nome}}
                    {{/with}}
                </h4></div>
                <div class="emblemas">

                    {{#with usuario}}
                        {{#with medalhas}} 
                            {{#if emblemaCasoResolvido}}
                                <div id="emblemaCasoResolvido" class="emblema" >
                                    <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ffdf00" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                </div>
                            {{/if}}
                            {{#if emblemaSalvadorDePets}}
                                <div id="emblemaSalvadorDePets" class="emblema" >
                                    <svg class="bi bi-trophy" width="1em" height="1em" viewBox="0 0 16 16" fill="#ef9b0f" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 011-1h8a1 1 0 011 1H3zm2-1a1 1 0 011-1h4a1 1 0 011 1H5z"/>
                                        <path fill-rule="evenodd" d="M12.5 3a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0zm-6-2a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0z" clip-rule="evenodd"/>
                                        <path d="M7 10h2v4H7v-4z"/>
                                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                                    </svg>
                                </div>
                            {{/if}}
                        {{/with}}
                    {{/with}}
                </div>
            </div>

            <div class="perfil-menu">
            {{#if registrar}}
                <div class="item-menu ativo" id="btnRegistrar">
            {{else}}
                <div class="item-menu" id="btnRegistrar">
            {{/if}}
                    <div class="icon">
                        <svg class="bi bi-card-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                            <circle cx="3.5" cy="5.5" r=".5"/>
                            <circle cx="3.5" cy="8" r=".5"/>
                            <circle cx="3.5" cy="10.5" r=".5"/>
                        </svg>
                    </div>
                    <a href="/perfil/registrar">Registrar</a>
                </div>

            {{#if configuracao}}
                <div class="item-menu ativo" id="btnConfiguracao">
            {{else}}
                <div class="item-menu" id="btnConfiguracao">
            {{/if}}
                <div class="icon">
                    <svg class="bi bi-gear" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z" clip-rule="evenodd"/>
                    </svg>
                </div>                        
                    <a href="/perfil/configuracao">Configuração</a>
                </div>

            
            {{#if animais}}
                <div class="item-menu ativo" id="btnMeusAnimais">
            {{else}}
                <div class="item-menu" id="btnMeusAnimais">
            {{/if}}
                <div class="icon">
                    <svg class="bi bi-archive" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 5v7.5c0 .864.642 1.5 1.357 1.5h9.286c.715 0 1.357-.636 1.357-1.5V5h1v7.5c0 1.345-1.021 2.5-2.357 2.5H3.357C2.021 15 1 13.845 1 12.5V5h1z"/>
                        <path fill-rule="evenodd" d="M5.5 7.5A.5.5 0 0 1 6 7h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zM15 2H1v2h14V2zM1 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H1z"/>
                    </svg>
                </div>                        
                    <a href="/perfil/animais">Animais</a>
                </div>


            {{#if matches}}
                <div class="item-menu ativo" id="btnMeusAnimais">
            {{else}}
                <div class="item-menu" id="btnMeusAnimais">
            {{/if}}
                <div class="icon">
                    <svg class="bi bi-exclude" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 0A1.5 1.5 0 0 0 0 1.5v9A1.5 1.5 0 0 0 1.5 12H4v2.5A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4H12V1.5A1.5 1.5 0 0 0 10.5 0h-9zM12 4H5.5A1.5 1.5 0 0 0 4 5.5V12h6.5a1.5 1.5 0 0 0 1.5-1.5V4z"/>
                    </svg>
                </div>                        
                    <a href="/perfil/matches">Matches</a>
                </div>


                
                <div class="item-menu" id="btnSair">
                    <div class="icon">
                        <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                        <a type="button" href="/logout">Sair</a>
                    </div>
                </div>

        </div>
        <div class="acoes">




            {{#if sucesso}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Alteração feita com sucesso!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{else}}
            {{#if falha}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Não foi possível alterar os dados.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{/if}}
        



        {{#if registrar}}
            {{> registrar}}
        {{else}}
        {{#if configuracao}}
            {{> configuracao}}
        {{else}}
        {{#if animais}}
            {{>animais}}
        {{else}}
        {{#if matches}}
            {{>matches}}
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}

        </div>
    </div>
</main>



